# IMEC2001 Herramientas Computacionales 
## Actividad Clase 4: Visualizaciones
### Fecha Límite Entrega (Bloque Neón): <font color="#FF5733">2359 de Agosto 28, 2023</font>

Universidad de los Andes — Agosto 23, 2023.

___
### Tener en Cuenta
La entrega de la **Actividad Clase 4** se puede realizar de dos maneras:
1. Enviar vía Bloque Neón el archivo en Jupyter Notebook (extensión '.ipynb').
2. Enviar vía Bloque Neón el archivo PDF del Jupyter Notebook.

**Nota:** <font color="#FF5733">El nombre del archivo debe ser: `AC4_NombreApellido.ipynb`.</font>

---

## TABLA DE CONTENIDO

### Sección 1: Ejercicios [→](#section1)
1. Librerías [→](#exercise1)
2. Gráficas [→](#exercise2)
3. (BONO) Comportamiento Estadístico Mensual [→](#exercise3)
___

<a id="section1"></a>
# Sección 1: Ejercicios

<a id="exercise1"></a>
## Ejercicio 1: Librerías

### Punto 1
En la carpeta `data` dentro de `week2` se dispone el archivo `solar_production.csv` que contiene datos de producción de la planta solar fotovoltaica ubicada en el edificio Santo Domingo de la Universidad de los Andes.

<div class="alert alert-block alert-warning">
    
Utilizando la librería `pandas`, escriba un algoritmo que permita:
1. Indicar la cantidad de filas y columnas que tiene el conjunto de datos.
2. Obtener una descripción estadística de las columnas de datos. Para esto, explore la función `describe()`.
3. Indicar los años y meses en que se registraron los datos, guardarlos en una variable diferente cada uno (i.e., una variable para los años y otra para los meses) y no deben quedar valores duplicados ([aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)).

</div>

In [44]:
import pandas as pd
route = './data/solar_production.csv' # ./ es pwd()


file = pd.read_csv(filepath_or_buffer=route,
                   delimiter=';')

In [45]:
# Ítem 1
print(f'El DataFrame tiene {file.shape[0]} filas y {file.shape[1]} columnas.')

El DataFrame tiene 105406 filas y 14 columnas.

In [46]:
# Ítem 2
copia_file = file.copy()
copia_file.describe()

,Zenith (deg),Elevation (deg),Azimuth (deg),Airmass Relative (ad),Airmass Absolute (ad),Extraterrestrial Radiation (W/m2),POA (W/m2),Tmod (C),Pdc (W),Pac (W),Daily Energy (Wh),Weekly Energy (Wh),Monthly Energy (Wh)
count,105406.000000,105406.000000,105406.000000,53005.000000,53005.000000,105406.000000,105258.000000,105258.000000,105258.000000,105406.000000,367.000000,5.200000e+01,1.200000e+01
mean,89.958175,0.041825,180.010195,3.235606,2.345593,1361.284829,165.477955,35.778582,8373.424878,8131.012223,195175.503433,1.366507e+06,5.951788e+06
std,47.384955,47.384955,96.915780,4.951124,3.589171,32.248608,266.974912,16.454666,13014.910248,12731.670348,65821.008745,2.857377e+05,8.715575e+05
min,0.100000,-89.910000,0.000000,1.000000,0.720000,1316.670000,0.000000,8.150000,0.000000,0.000000,60781.780000,7.744012e+05,4.420267e+06
25%,47.542500,-42.380000,89.000000,1.140000,0.830000,1328.970000,0.000000,23.990000,0.000000,0.000000,145493.845000,1.183230e+06,5.578678e+06
50%,90.010000,-0.010000,179.995000,1.490000,1.080000,1360.430000,0.710000,28.050000,31.165000,0.000000,185988.210000,1.300452e+06,6.056150e+06
75%,132.380000,42.457500,271.020000,2.760000,2.000000,1393.490000,250.635000,45.840000,13413.970000,13007.420000,232890.295000,1.543478e+06,6.378667e+06
max,179.910000,89.900000,359.940000,37.920000,27.490000,1407.780000,1429.700000,91.640000,62276.030000,60841.010000,372714.970000,2.181836e+06,7.521495e+06

In [26]:
copia_file.head()

,Datetime,Zenith (deg),Elevation (deg),Azimuth (deg),Airmass Relative (ad),Airmass Absolute (ad),Extraterrestrial Radiation (W/m2),POA (W/m2),Tmod (C),Pdc (W),Pac (W),Daily Energy (Wh),Weekly Energy (Wh),Monthly Energy (Wh)
0,2020-01-01 00:00:00-05:00,161.56,-71.56,179.60,NaN,NaN,1407.65,0.0,27.48,0.0,0.0,257541.88,NaN,NaN
1,2020-01-01 00:05:00-05:00,161.51,-71.51,175.97,NaN,NaN,1407.65,0.0,27.36,0.0,0.0,NaN,NaN,NaN
2,2020-01-01 00:10:00-05:00,161.39,-71.39,172.38,NaN,NaN,1407.65,0.0,26.91,0.0,0.0,NaN,NaN,NaN
3,2020-01-01 00:15:00-05:00,161.19,-71.19,168.85,NaN,NaN,1407.65,0.0,26.33,0.0,0.0,NaN,NaN,NaN
4,2020-01-01 00:20:00-05:00,160.91,-70.91,165.41,NaN,NaN,1407.65,0.0,25.79,0.0,0.0,NaN,NaN,NaN

In [49]:
# Ítem 3
anos = pd.DatetimeIndex(file['Datetime']).year.drop_duplicates().tolist()
meses = pd.DatetimeIndex(file['Datetime']).month.drop_duplicates().tolist()

print(meses,anos)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [2020, 2021]

### Punto 2

<div class="alert alert-block alert-warning">
    
Utilizando la librería `numpy`, escriba un algoritmo que:
1. Cree una función que permita realizar una lista de ceros de longitud `n`(este debe ser el parámetor de entrada). 
2. Cree una función que haga una lista con un rango desde `num1` hasta `num2` y que tenga 5 elementos ([aquí](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html)); para los anteriores la entrada es con `input()`.

</div>

In [58]:
# Ítem 1
import numpy as np
def funcion(n) -> list: 
    list_zeros = [0]*n
    return list_zeros
prueba = funcion(2)
print(prueba)

[0, 0]

In [71]:
# Ítem 2

x = int(input('Ingrese el primer número:'))
y = int(input('Ingrese el segundo número:'))
def funcion2(num1, num2) -> list: 
    lista = np.linspace(start = num1, stop = num2, num = 5)
    return lista
print(funcion2(x,y))

[1. 2. 3. 4. 5.]

<a id='exercise2'></a>
### Ejercicio 2: Gráficas

En la carpeta `data` dentro de `week2` se dispone el archivo `solar_production.csv` que contiene datos de producción de la planta solar fotovoltaica ubicada en el edificio Santo Domingo de la Universidad de los Andes.

<div class="alert alert-block alert-warning">
    
Utilizando la librería `pandas` y `matplotlib.pyplot`, escriba un algoritmo que permita realizar tres gráficas diferentes de su interés.

</div>

In [85]:
import matplotlib.pyplot as plt 
x =file.get('Elevation (deg)')
y =file.get('Zenith (deg)')

<a id='exercise3'></a>
### (BONO) Ejercicio 3: Comportamiento Estadístico Mensual

En la carpeta `data` dentro de `week2` se dispone el archivo `SD_5Min.xlsx` que contiene las **mediciones** de los valores de producción de la planta solar fotovoltaica ubicada en el edificio Santo Domingo de la Universidad de los Andes, desde 1-Agosto-2019 hasta 30-Junio-2021.

<div class="alert alert-block alert-warning">
    
Escriba un algoritmo que permita obtener los valores máximo, promedio y mínimo para todos los días de un mes durante cada instante de tiempo. Es decir:

<img src='./img/table_excercise.png' width='650'/>

Note que:
- La primera columna contiene las estampas de tiempo para un día completo, es decir, un dato cinco minutal desde las 00:00 hasta las 23:55.
- Se tiene una columna de datos de irradiancia por día; es decir, 30 o 31 columnas de datos.
- Se agregan las columnas de interés: mínimo, promedio y máximo. Estas son columnas calculadas con las 30 o 31 columnas de datos. Por ejemplo:
    - Columna: Mínimo, Fila: 11:55 -> min(800, 700, 880, ..., 630) = 630
    - Columna: Promedio, Fila: 12:00 -> mean(850, 680, 930, ..., 720) = 795
    - Columna: Máximo, Fila: 12:05 -> max(1010, 810, 850, ..., 760) = 1010
- La gráfica se genera al graficar en una misma figura: (i.) Tiempo vs Mín, (ii.) Tiempo vs Prom, (iii.) Tiempo vs. Max.
</div>

___

**Ejemplo** <br>
<font color="#FF5733">Output</font>
<img src='./img/irradiance_per_minute.png' width='750'/>

**Nota:** Solo se solicita la gráfica de los datos mínimo, promedio y máximo, es decir, los marcadores color azul, verde y naranja en esta figura.
___